<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/doctor">Doctor</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/doctor/add">Add Doctor</a>
                </li>
                <li class="nav-item" sec:authorize="authenticated">
                    <a class="nav-link" href="/doctor/rooms">Rooms</a>
                </li>
                <li class="nav-item" sec:authorize="authenticated">
                    <a class="nav-link" href="/doctor/appointment">Check Schedule</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('PATIENT')">
                    <a class="nav-link" href="/doctor/make-appointment">Make an Appointment</a>
                </li>
            </ul>

            <form class="d-flex" role="search" method="get">
                <input class="form-control me-2" type="search" placeholder="Doctor" aria-label="Search" name="nameDoctor">
                <input class="form-control me-2" type="search" placeholder="Patient" aria-label="Search" name="namePatient">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>